@import "layout";

.container{
    background: #351415;
}

a {
    color: white;
    border: 3px solid white;
    position: relative;
    transition: all 1s;
    overflow: hidden; //這行是關鍵,可以試著註解這行觀看變化

    &::before {
        content: "YEAH!";
        color: white;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        // z-index: -1;
        background: orangered;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all .5s;
        // transform: translateX(-100%);
        transform: translateY(100%);
    }

    &:hover {
        color: white;

        &::before {
            // transform: translateX(0);
            transform: translateY(0);
        }
    }

}
