@import "layout";

.container {
    background-color: grey;
}
a{
    width: 220px;
    height: 80px;
    font-size: 26px;
    background-color: transparent;
    color: #ff0;
    text-align: center;
    text-transform: uppercase;
    line-height: 80px;
    transition: all 1s;
    // span{
    //     width: 100%;
    // }
}